*{
    box-sizing: border-box;
}

header, footer{
    background-color: gray;
    height: 10vh;
    width: 100vw;
}

.content-container{
    display: flex;
    height: 77vh;
    width: 100vw;
    
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.A{
    background-color: greenyellow;
    width: 50%;
    order: 2;
}

.B{
    background-color: green;
    width: 25%;
    order: 1;
}

.C{
    background-color: yellow;
    width: 25%;
    order: 3;
}

@media screen and (max-width: 720px) {

        header, footer{
            background-color: gray;
            height: 10vh;
            width: 100vw;
        }
        
        .content-container{
            display: flex;
            height: 77vh;
            width: 100vw;
            margin-top: 1.5vh;
            margin-bottom: 1.5vh;
            flex-wrap: wrap;
        }
        
        .A{
            background-color: greenyellow;
            height: 60%;
            width: 100%;
            order: 1;
        }

        .B{
            background-color: green;
            height: 40%;
            width: 50%;
            order: 2;
        }
        
        .C{
            background-color: yellow;
            height: 40%;
            width: 50%;
            order: 3;
        }
        
}


@media screen and (max-width: 420px) {
    
    header, footer{
        background-color: gray;
        height: 10vh;
        width: 100vw;
    }
    
    .content-container{
        display: flex;
        height: 78vh;
        width: 100vw;
        flex-direction: column;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    
    .A{
        background-color: greenyellow;
        height: 50%;
        width: 100%;
        order: 1;
    }

    .B{
        background-color: green;
        height: 25%;
        width: 100%;
        order: 2;
    }
    
    .C{
        background-color: yellow;
        height: 25%;
        width: 100%;
        order: 3;
    }
}