*{
    box-sizing: border-box;
}

header, footer{
    background-color: gray;
    height: 10vh;
    width: 100vw;
}

.container{
    display: flex;
    height: 77vh;
    width: 100vw;
    justify-content: center;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.AandB{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.A{
    background-color: red;
    height: 50%;
    width: 100%;
}

.B{
    background-color: orange;
    height: 50%;
    width: 100%;
}

.C{
    background-color: yellow;
    height: 100%;
    width: 30%;
}

@media screen and (max-width: 720px) {

        header, footer{
            background-color: gray;
            height: 10vh;
            width: 100vw;
        }
        
        .container{
            display: flex;
            height: 77vh;
            width: 100vw;
            justify-content: center;
            margin-top: 1.5vh;
            margin-bottom: 1.5vh;
        }
        
        .AandB{
            display: flex;
            flex-direction: column;
        }
        
        .A{
            background-color: red;
            height: 50%;
            width: 100%;
        }
        
        .B{
            background-color: orange;
            height: 50%;
            width: 100%;
        }
        
        .C{
            background-color: yellow;
            height: 100%;
            width: 30%;
        }
}


  @media screen and (max-width: 480px) {
    
    header, footer{
        background-color: gray;
        height: 10vh;
        width: 100vw;
    }
    
    .container{
        display: flex;
        height: 77vh;
        width: 100vw;
        align-items: center;
        /* flex-wrap: wrap; */
        flex-direction: column;
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
    }
    
    .AandB{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    
    .C{
        background-color: yellow;
        height: 50%;
        width: 100%;
    }
    
}